/* reset and custom style classes */
/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
3. Allow percentage-based heights in the application
*/
html, body {
    font-size: 16px;
    font-family: var(--ff-paragraph);
}
/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}
/*
6. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}


/* Root Styles */
:root {
    --bunker: #222831;
    --cloud-burst: #393E46;
    --iris-blue: #00ADB5;
    --whisper: #EEEEEE;


    --ff-title: 'Montserrat', sans-serif;
    --ff-sub-title: 'Hind Guntur', sans-serif;
    --ff-paragraph: 'Hind Madurai', sans-serif;

    --transition-one: 300ms ease-in-out;
    --transition-two: 600ms ease-in-out;
    --transition-three: 800ms ease-in-out;

    --fw-light: 300;
    --fw-reg: 400;
    --fw-md: 500;
    --fw-semi-bold: 600;
}

/* general styles */

.grid {
    display: grid;
}

.flex_row {
    display: flex;
    flex-wrap: wrap;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.center_by_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_by_grid {
    display: grid;
    place-content: center;
}

.inactive {
    display: none;
}

.opacity {
    opacity: 1;
}

img {
    max-width: 100%;
}

.App {
    height: 100%;
    width: 100vw;
    padding: 1em;
    background-color: var(--bunker);
}

@media screen and (min-width: 768px) {
    .App {
        max-width: 70vw;
    }
}